*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#3D087B ;
}
.container{
    /* border: 1px solid white; */
    display: flex;
    height: 100vh;
    margin-top: 40px;
}
.leftcontainer{
     margin-left: 90px;
}
.card{
    display: grid;
    grid-template-columns: 290px;
    grid-template-rows: 280px 50px 50px 15px;
    gap: 10px;
}
.dash{
    padding-left: 56px;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.card1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color:#FFFFFF ;
    padding-top: 10px;
    border-radius: 5px;
}
.wakeup{
    display: flex;
    justify-content: space-around;
    color: #3D087BDE;
}
#wake-up{
    color: #3D087B;
}
.lunch{
    display: flex;
    justify-content: space-around;
    color: #3D087BDE;
}
#lunch-time{
    color: #3D087B;
}
.naptime{
    display: flex;
    justify-content: space-around;
    color: #3D087BDE;
}
#nap-time{
    color: #3D087B;
}
.nighttime{
    display: flex;
    justify-content: space-around;
    color: #3D087BDE;
}
#night-time{
    color: #3D087B;
}
.card2{
    grid-column: 1/3;
    grid-row:2/3 ;
    background-color:#9140B5;
    border-radius: 7px;
}
.card2 p{
    color: #FFFFFF;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 20px;
    font-style: initial;
}
.card3{
    grid-column: 1/2;
    grid-row:3/4 ;
    background:linear-gradient(to right, #6E54EC,#CB52F8,#FC5EFF,#F1A7C5 ) ;
    border-radius: 7px;
}
.card3 p{
    text-align: center;
    padding-top: 10px;
    color: #FFFFFF;
    font-size: 20px;
}
.card3:hover{
    background: linear-gradient(to right,#F1A7C5,#FC5EFF,#CB52F8,#6E54EC);
}
.card4{
    grid-column:2/3 ;
    grid-row:3/5 ;
    background-color: #9140B5;
    border-radius: 10px;
}
.card4 pre{
    color: #F25CFE;
    padding-left: 5px;
}
.rightcontainer{
    margin-left: 100px;
}
.time{
    border: 1px solid black;
    border-radius: 8px;
    width: 400px;
    height: 90px;
    background-color: white;
    display: flex;
    position: relative;
}
.clock{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 370px;
    height: 50px;
    padding-top: 10px;
    color: #8A11BF;
    
}
.colon{
   font-size: 50px;
}
.watch{
    font-size: 20px;
    color: #3D087B;
    text-align: center;
}
.ampm{
    background-image: url(./AM_svg.svg);
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.hour, .sec, .min{
    background-color: #F6E2FF;
}

.time .item1{
    position: absolute;
    top: 15px;
    right: 30px;
    background-color: #EDEDED;
    border-radius: 10px;
    width:340px ;
    opacity: 70%;
    z-index: -1;
}
.time .item2{
    width: 320px;
    position: absolute;
    top: 25px;
    right: 40px;
    opacity: 100%;
    background-color:#6E54EC ;
    border-radius: 10px;
    z-index: -2;
}
.box{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 70px 300px;
    gap: 10px;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color:#EDEDED ;
}
.box1 p{
   color: #8E53F0;
   text-align: center;
   padding-top: 25px;
   font-size: 20px;
}
.box2{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #EDEDED;
    background-image: url(./Component\ 30\ –\ 1.svg);
    background-size: cover;
    background-position: center;
}
@media screen and (min-width:250px) and (max-width:500px) {
    .container{
       flex-wrap: wrap;
    }
    
}
@media screen and (min-width:500px) and (max-width:900px) {
    .container{
       flex-wrap: wrap;
    }
    
}